<ion-header>
  <ion-toolbar>
    <ion-title>
      Planejamento Financeiro.
    </ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-button [routerLink]='["/novo-planejamento"]'>Cadastrar Novo Planejamento</ion-button>
<ion-content padding>
    <div *ngIf="planos.length > 0">
    
        <h2>Conheça nossas Cervejas</h2>
        <br/>
        <div *ngFor="let plano of planos">
          <ion-card >
            <ion-card-content>
                <h2>
                    {{plano.nome}}
                </h2>
                <p>
                  {{plano.faturamento}}
                </p>
                <p>
                    {{plano.custo}}
                  </p>
                <p style="text-align: right">
                  <ion-button color="danger" fill="outline" size='small' (click)="excluir(plano.nome)">Excluir</ion-button>
                </p>
            </ion-card-content>
            </ion-card>
        </div>
      </div>
      <div *ngIf="planos.length === 0">
          <p>Ainda não há planos cadastradas.</p>
          <ion-button [routerLink]='["/novo-planejamento"]'>Cadastrar Agora</ion-button>
        </div>
    
</ion-content>
